@font-face {
	font-family: 'Ponomar Unicode';
  src: url('/static/rc_dic/PonomarUnicode.eot');
  src: url('/static/rc_dic/PonomarUnicode.eot?#iefix') format('embedded-opentype'),
       url('/static/rc_dic/PonomarUnicode.woff') format('woff'),
       url('/static/rc_dic/PonomarUnicode.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Fedorovsk Unicode';
	src: url('/static/rc_dic/FedorovskUnicode.eot?#iefix') format('embedded-opentype'),
	     local('Fedorovsk Unicode'), local('Fedorovsk Unicode TT'),
	     url('/static/rc_dic/FedorovskUnicodeSIL.ttf')  format('truetype'),
	     url('/static/rc_dic/FedorovskUnicode.woff') format('woff'),
	    url('/static/rc_dic/FedorovskUnicode.svg#FedorovskUnicode') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Old Standard TT';
	src: url('/static/rc_dic/OldStandardTT-Regular.eot');
	src: local('Old Standard TT Regular'), local('OldStandardTT-Regular'),
		url('/static/rc_dic/OldStandardTT-Regular.eot?#iefix') format('embedded-opentype'),
		url('/static/rc_dic/OldStandardTT-Regular.woff') format('woff'),
		url('/static/rc_dic/OldStandardTT-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
#frmLogin {
	padding: 20px 60px;
	background: #B6E0FF;
	color: #555;
	display: inline-block;
	border-radius: 4px;
}
#txtHint {
	font-size: 70%;
	text-align: center;
}
.field-group {
	margin:15px 0px;
}
.input-field {
	padding: 8px;width: 200px;
	border: #A3C3E7 1px solid;
	border-radius: 4px;
}
.form-submit-button {
	background: #65C370;
	border: 0;
	padding: 8px 20px;
	border-radius: 4px;
	color: #FFF;
	text-transform: uppercase;
}
.verify-robot-txt {
	background-color: #DCDCDC;
}
.verify-nikak-txt {
	background-color: #FA8072;
}
.verify-nikak {
	background: #FA8072;
	border: 0;
	padding: 8px 20px;
	border-radius: 4px;
}
.verify-nemnogo-txt {
	background-color: #FFD700;
}
.verify-nemnogo {
	background: #FFD700;
	border: 0;
	padding: 8px 20px;
	border-radius: 4px;
}
.verify-dovolno-txt {
	background-color: #B0E0E6;
}
.verify-dovolno {
	background: #B0E0E6;
	border: 0;
	padding: 8px 20px;
	border-radius: 4px;
}
.verify-sovsem-txt {
	background-color: #00FA9A;
}
.verify-sovsem {
	background: #00FA9A;
	border: 0;
	padding: 8px 20px;
	border-radius: 4px;
}
.rewind-to-end {
	appearance: button;
	background: #8B0000;
	color: #FFF;
	text-decoration: none;
	padding: 4px 5px;
	border: 0;
	border-radius: 4px;
}
.rewind-to-next {
	appearance: button;
	background: #4B0082;
	color: #FFF;
	text-decoration: none;
	padding: 4px 5px;
	border: 0;
	border-radius: 4px;
}
.most-fitting {
	appearance: button;
	background: #191970;
	color: #FFF;
	text-decoration: none;
	padding: 4px 5px;
	border: 0;
	border-radius: 4px;
}
.stat {
	appearance: button;
	background: #333333;
	color: #FFF;
	text-decoration: none;
	padding: 4px 5px;
	border: 0;
	border-radius: 4px;
}
.member-dashboard {
	padding: 10px;
	background: #D2EDD5;
	color: #555;
	border-radius: 4px;
	display: inline-block;
	text-align:center;
}
.logout-button {
	background: #ff7033;
	border: 0;
	padding: 8px 10px;
	border-radius: 4px;
	color: #FFF;
	text-transform: uppercase;
}
.error-message {
	text-align:center;
	color:#FF0000;
}
.demo-content label{
	width:auto;
}
td {
	padding: 2px 15px;
}
.list {
	margin-left: 20%;
	margin-right: 20%;
}
.csl {
	font-family: "Old Standard";
}
