@font-face {
	font-family: 'Ponomar Unicode';
  src: url('/static/rc_dic/PonomarUnicode.eot');
  src: url('/static/rc_dic/PonomarUnicode.eot?#iefix') format('embedded-opentype'),
       url('/static/rc_dic/PonomarUnicode.woff') format('woff'),
       url('/static/rc_dic/PonomarUnicode.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Fedorovsk Unicode';
	src: url('/static/rc_dic/FedorovskUnicode.eot?#iefix') format('embedded-opentype'),
	     local('Fedorovsk Unicode'), local('Fedorovsk Unicode TT'),
	     url('/static/rc_dic/FedorovskUnicodeSIL.ttf')  format('truetype'),
	     url('/static/rc_dic/FedorovskUnicode.woff') format('woff'),
	    url('/static/rc_dic/FedorovskUnicode.svg#FedorovskUnicode') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Old Standard';
	src: url('/static/rc_dic/OldStandardTT-Regular.eot');
	src: local('Old Standard TT Regular'), local('OldStandardTT-Regular'),
		url('/static/rc_dic/OldStandardTT-Regular.eot?#iefix') format('embedded-opentype'),
		url('/static/rc_dic/OldStandardTT-Regular.woff') format('woff'),
		url('/static/rc_dic/OldStandardTT-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
.csl-rc {
	font-family: "Old Standard";
}
