<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
{% load static %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{% static 'rc_dic/materialize/css/materialize.min.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="{% static 'rc_dic/style.css' %}" type="text/css" rel="stylesheet"/>
    <title>Леммы ruscorpora</title>
</head>
<body class="amber lighten-5">
<nav>
    <div class="nav-wrapper row deep-orange darken-4">
        <div class="col s12 l8 offset-l2">
            <a href="/" class="breadcrumb"><i class="material-icons">home</i></a>
            <a href="/ruscorpora" class="breadcrumb">ruscorpora</a>
            <a href="#!" class="breadcrumb">леммы</a>
        </div>
    </div>
</nav>
<div class="row center">
<div class="col s12 m12 l8 offset-l2">
<ul class="pagination">
    {% if lemmas.has_previous %}
        <li class="waves-effect"><a href="?page=1"><i class="material-icons">first_page</i></a></li>
        <li class="waves-effect"><a href="?page={{ lemmas.previous_page_number }}"><i class="material-icons">chevron_left</i></a></li>
    {% else %}
        <li class="disabled"><a href="#!"><i class="material-icons">first_page</i></a></li>
        <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
    {% endif %}
    <li class="active deep-orange darken-3"><a>{{ lemmas.number }}</a></li>
    {% if lemmas.has_next %}
        <li class="waves-effect"><a href="?page={{ lemmas.next_page_number }}"><i class="material-icons">chevron_right</i></a></li>
        <li class="waves-effect"><a href="?page={{  lemmas.paginator.num_pages }}"><i class="material-icons">last_page</i></a></li>
    {% else %}
        <li class="disabled"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
        <li class="disabled"><a href="#!"><i class="material-icons">last_page</i></a></li>
    {% endif %}
</ul>
</div>
</div>
<div class="row">
    <div class="input-field col s12 m12 l8 offset-l2 red-text">
    <i class="red-text material-icons prefix">search</i>
    <input type="text" placeholder="Найти…" class="red-text csl-rc flow-text" >
    </div>
</div>
<div class=row>
<div class="col s12 m12 l8 offset-l2">
<div class="collection flow-text">
    {% for lemma in lemmas %}
        <a href="#!" class="collection-item csl-rc brown-text text-darken-2">{{ lemma.lemma_rc }}</a>
    {% endfor %}
</div>
</div>
</div>
<script type="text/javascript" src="{% static 'rc_dic/materialize/js/materialize.min.js' %}"></script>
</body>
</html>
