<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'rc_dic/style.css' %}">
</head>
<body>
<div class="field-group" align=center>
    {% if lemmas.has_previous %}
        <a href="?page=1" class="rewind-to-end">⇤ в начало</a>
        <a href="?page={{ lemmas.previous_page_number }}" class="rewind-to-next">← назад</a>
    {% endif %}
        стр. {{ lemmas.number }} из {{ lemmas.paginator.num_pages }}
    {% if lemmas.has_next %}
        <a href="?page={{ lemmas.next_page_number }}" class="rewind-to-next">вперёд →</a>
        <a href="?page={{ lemmas.paginator.num_pages }}" class="rewind-to-end">в конец ⇥</a>
    {% endif %}
</div>
<div class="list">
    {% for lemma in lemmas %}
        <span class="csl">{{ lemma.lemma_rc }}</span><br />
    {% endfor %}
</div>
</body>
</html>
