{% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{% static 'rc_dic/materialize/css/materialize.min.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="{% static 'rc_dic/style.css' %}" type="text/css" rel="stylesheet"/>
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'rc_dic/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'rc_dic/favicon/favicon-16x16.png' %}">
