<!DOCTYPE html>
<html lang="ru">
<head>
{% load static %}
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'rc_dic/favicon/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'rc_dic/favicon/favicon-16x16.png' %}">
  <title>Ткань богослужебных текстов</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static 'rc_dic/materialize/css/materialize.min.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static 'rc_dic/style.css' %}" type="text/css" rel="stylesheet"/>
</head>
<body class="amber lighten-5">
  <nav class="deep-orange darken-4" role="navigation">
    <!-- <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">pantlmn.ru</a> -->
      <!-- <ul class="right hide-on-med-and-down">
        <li><a href="#">Navbar Link</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a> -->
    </div>
  </nav>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <h1 class="header center brown-text text-darken-2 csl-rc">ТКАНЬ<br />бого&shy;служебных<br>текстов</h1>
      <div class="row center">
        <h5 class="header col s12 light">Эксперименты по применению методов компьютерной лингвистики к корпусу богослужебных текстов Православной Церкви.</h5>
      </div>
      <div class="row">
          <div class="col s12 m8 l8 offset-l2 offset-m2">
              <!-- <div class="center">
                <a href="#!" class="btn-large waves-effect waves-light orange darken-2">Проверь свой словарный запас!</a>
              </div> -->
                <h5 class="center csl-rc">Словари</h5>
                <div class="collection">
                <a class="collection-item brown-text text-darken-2" href="/ruscorpora/lemmas">Леммы (словарь А. Е. Полякова)</a>
                </div>
                <!-- <h5 class="center csl-rc">Тексты</h5>
                <div class="collection">
                <a class="inactive collection-item brown-text text-darken-2" href="#!">Поиск похожего песнопения (в разработке)</a>
                </div> -->
            </div>
      <div>
    </div>
  </div>


  <!-- <div class="container">
    <div class="section"> -->

      <!--   Icon Section   -->
      <div class="row">

        <div class="col s12 m4">
          <div class="icon-block">
            <h1 class="center brown-text text-darken-2"><i class="material-icons">group</i></h1>
            <h5 class="center">Команда</h5>

              <p class="light">
                иеромонах Пантелеимон (Королёв),
                Александр Кравецкий,
                Анастасия Бонч-Осмоловская,
                студенты ВШЭ.
              </p>
          </div>
        </div>


        <div class="col s12 m4">
          <div class="icon-block">
            <h1 class="center brown-text text-darken-2"><i class="material-icons">code</i></h1>
            <h5 class="center">Код и данные</h5>

            <p class="light">Программный код на python и исходные данные в человеко-читаемых форматах вы в скором времени сможете скачать с GitHub.</p>
          </div>
        </div>



        <div class="col s12 m4">
          <div class="icon-block">
            <h1 class="center brown-text text-darken-2"><i class="material-icons">person_add</i></h1>
            <h5 class="center">Принять участие</h5>

            <p class="light">Если вы желаете внести свою лепту в проект, пишите иеромонаху Пантелеимону: <a href="mailto:pantlmn@gmail.com" class="deep-orange-text">pantlmn@gmail.com</a>.</p>
          </div>
        </div>
      </div>

    <!-- </div>
    <br><br>
  </div> -->

  <!-- <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer> -->


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="../../bin/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>
